<html>
  <head>
    <style type="text/css">
      body {
        background: rgb(2, 2, 76);
        color: white;
      }
      div.container {
        max-width: 500px;
        margin: 100px auto;
        border: 0.5px solid white;
        padding: 10px;
        text-align: center;
      }
      h4 {
        text-transform: uppercase;
      }
      h5 {
        color: rgb(255,255,255);
      }
      a {
        color: rgb(255,255,255)
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h4>Cat Gif of the day</h4>
      <img src="{{url}}" />
      <p><h5>Courtesy: <a href="http://www.buzzfeed.com/copyranter/the-best-cat-gif-post-in-the-history-of-cat-gifs">Buzzfeed</a></h5></p>
    </div>
  </body>
</html>